body {
  font-family: Arial, sans-serif, "Times New Roman", Times, serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  width: 70%;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}
#logo {
  text-align: left;
  display: block;
  min-width: 12%;
  align-self: flex-start;
}
#formName {
  display: block;
  align-self: center;
}
#studentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.form-group {
  display: block;
  width: 90%;
  margin-bottom: 5px;
}
label {
  display: block;
  margin-top: 5px;
  color: #333;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #000;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 12px;
  text-align: left;
}
th {
  background-color: #333;
  color: white;
  text-align: center;
}
.actions {
  display: flex;
  justify-content: space-evenly;
}
.btn-edit,
.btn-delete {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.btn-edit {
  background-color: #333;
  color: white;
}
.btn-delete {
  background-color: #333;
  color: white;
}
.ust {
  display: flex;
  margin-top: 20px;
  align-items: center;
  font-size: auto;
  justify-content: center;
}
td:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .ust {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  #logo {
    align-self: center;
  }
}
@media (min-width: 600px) {
  .ust {
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
}
